html {
    scroll-behavior: smooth;
}

body {
    background: #F5DEB3;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding-top: 50px;
    margin: 0 auto;
    height: 3000px;
    max-width: 1500px;
    background: #DEB887;
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 32px 16px #DEB887;
    box-shadow: 0px 0px 32px 16px #DEB887;
}

.for-valid {
    font-size: 0px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 32px;
}

article>h3 {
    font-size: 64px;
}

h4 {
    font-size: 30px;
}

.header-main {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.header {
    position: relative;
}

.menu {
    /* position: -webkit-sticky; */
    position: sticky;
    top: 50px;
    margin-top: 30px;
    height: 450px;
    width: 180px;
    background: #F5DEB3;
    -webkit-box-shadow: 0px 0px 32px 16px #F5DEB3;
    box-shadow: 0px 0px 32px 16px #F5DEB3;
}

.menu-item {
    font-size: 24px;
    color: #000 !important;
    text-decoration: none;
}

.header-logo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.main {
    display: flex;
    flex-direction: column;
}

article {
    margin-top: 60px;
    font-size: 64px;
}

h1,
h2 {
    margin-top: 40px;
}

a>h2 {
    margin: 0;
    font-size: 24px;
}

p,
li {
    margin-top: 20px;
    letter-spacing: 0.5px;
    font-size: 24px;
    list-style-type: none;
}

.contacts-vk,
.contacts-viber {
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    transition: 0.5s;
}

.viber-logo,
.vk-logo {
    height: 50px;
    width: 50px;
}

.my-phone {
    position: absolute;
    left: 60px;
    display: none;
}

.contacts-viber:hover,
.contacts-vk:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.contacts-viber:hover .my-phone {
    display: block;
}

pre {
    width: 580px;
}

code {
    font-size: 14px;
}

.self-presentation {
    margin-top: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 3% auto;
}

.logo-youtube {
    height: 40px;
    width: 55px;
}

.logo-rss {
    height: 40px;
    width: 90px;
}

iframe {
    width: 560px;
    height: 315px;
}

@media (max-width: 1000px) {
    .menu {
        position: fixed;
        right: -15%;
        top: 10px;
        transition: 0.4s;
    }
    .menu:hover {
        right: 10px;
        transition: 0.4s;
    }
    pre {
        width: 500px;
    }
    code {
        font-size: 5px;
    }
    .wrapper {
        height: 3000px;
    }
    .header-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p,
    li {
        margin-top: 10px;
        letter-spacing: normal;
        font-size: 24px;
    }
}

@media (max-width: 680px) {
    iframe {
        width: 392px;
        height: 220px;
    }
    .menu {
        right: -25%;
    }
}

@media (max-width: 600px) {
    .wrapper {
        height: 2800px;
    }
    pre {
        width: 200px;
    }
    p,
    li {
        font-size: 16px;
    }
    .header-main {
        margin-left: 0;
    }
    article {
        font-size: 40px;
    }
}

@media (max-width: 420px) {
    iframe {
        width: 200px;
        height: 110px;
    }
    .menu {
        right: -40%;
    }
}
